<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608851527932-ekudr09g8muvpt7usbil7l69jq1aq43u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608851527932-ekudr09g8muvpt7usbil7l69jq1aq43u</string>
	<key>API_KEY</key>
	<string>AIzaSyBYN1tlYFNkIhZoBJAN1uvYANiQcK7htBo</string>
	<key>GCM_SENDER_ID</key>
	<string>608851527932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GROSSON.StorageInFirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>storageinfirebasetest</string>
	<key>STORAGE_BUCKET</key>
	<string>storageinfirebasetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608851527932:ios:7b6c07f1cb70d8ae</string>
	<key>DATABASE_URL</key>
	<string>https://storageinfirebasetest.firebaseio.com</string>
</dict>
</plist>